@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Name ?? "model name not working";
}

<section class="service-details">
    <div class="container">
        @Model?.Value("pageContent")
    </div>
</section>