@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ServiceItemTemplate>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Name ?? "model name not working";
}

<section class="service-details">
    <div class="container">
        <aside class="aside-left">
            <div class="about-us-link">
                @await Html.PartialAsync("Partials/static/aboutUsLink.cshtml")
            </div>
            <div class="contact">
                @await Html.PartialAsync("Partials/static/onlineSupport.cshtml", new OnatrixProject.Models.ContactFormModels())
            </div>
        </aside>
        <div class="page-content">
            @Model?.Value("pageContent")
        </div>
    </div>
</section>
