
$border-color: var(--color-border-gray);
$padding: 20px;

.container {
    display: flex;
    flex-wrap: wrap;
}

.page-content {
    flex: 1;
    padding: $padding;
}

.aside-right {
    width: 30%;
    padding: $padding;
    border-left: 1px solid $border-color;

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.aside-left {
    width: 30%;
    padding: $padding;
    border-right: 1px solid $border-color;

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.recent-projects,
.tags,
.contact {
    margin-bottom: $padding;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}
