.tags {
    padding: 20px;
    width: 100%; 

    .aside-tags {
        .aside-container {
            padding: 20px;
            margin-right: 0; 

            .tag-header {
                margin-bottom: 20px !important;
            }

            .tag-list {
                display: flex;
                flex-wrap: wrap; 
                gap: 10px; 

                .tag {
                    border: 1px solid var(--color-gray);
                    border-radius: 25px;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                    margin-right: 0;

                    &:hover {
                        background-color: var(--color-primary);
                        color: var(--color-light);
                    }
                }
            }
        }
    }
}