<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bab4c96c-a5b5-46ed-beac-2a2c96c0c18b" Alias="serviceListPage" Level="2">
  <Info>
    <Name>Service List Page</Name>
    <Icon>icon-bulleted-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>For listing service items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>serviceListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1ad025e7-e80e-4dd0-bdb6-3bdd93c76ec3">serviceListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc369913-c3ed-4950-b9ca-7bdd5a2daa6f" SortOrder="0">serviceItemTemplate</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cf2b6394-6cc2-4b4e-ab71-dfe031e398f4</Key>
      <Name>Custom Headline</Name>
      <Alias>customHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3be8cac5-a224-4d15-8a30-b293db23f1bd</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4b7b128e-0310-4c3c-b412-8498df04df18</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>