@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var quotationText = Model?.Content.Value<string>("quotationText");
    var quotationAuthor = Model?.Content.Value<string>("quotationAuthor");
}


@if (!string.IsNullOrEmpty(quotationText))
{
    <blockquote>
        <p>
            @quotationText
        </p>
        @if (!string.IsNullOrEmpty(quotationAuthor)) {
            <footer>
                <cite>@quotationAuthor</cite>
            </footer>
        }
    </blockquote>
}
