@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var formHeadline = Model.Content.Value<string>("formHeadline");
    var formParagraph = Model.Content.Value<string>("formParagraph");
    var contactForm = Model.Content.Value<global::Umbraco.Cms.Core.Models.Blocks.BlockListModel>("reusableForm");
}

<div class="container contact-form">
    @if (contactForm != null)
    {
        <h2 class="form-headline">@formHeadline</h2>
        <p class="form-paragraph">@formParagraph</p>
        @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
        {
            @Html.GetBlockListHtml(contactForm)
        }
    }
</div>