.question-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Full viewport height to center vertically */
    width: 100%; /* Full width */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 600px; /* Optional: Set a max-width for better layout */
        justify-content: center;

        .form-headline {
            text-align: center;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            color: var(--color-primary);
        }

        .form-group {
            margin-bottom: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .form-control {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid var(--color-primary-light);
            border-radius: 0.5rem;
            font-size: 1rem;
            transition: border-color 0.3s, box-shadow 0.3s;

            &:focus {
                border-color: var(--color-primary);
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                outline: none;
            }
        }

        #form-group-inline {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            align-items: center;

            .form-group {
                flex: 1;
            }
        }

        .text-danger {
            color: var(--color-secondary);
            font-size: 0.875rem;
        }

        .btn-primary {
            display: block;
            width: 50%;
            margin: 0 auto; 
            padding: 0.75rem;
            background-color: var(--color-primary);
            color: white;
            border: none;
            border-radius: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: var(--color-primary-dark);
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(0);
            }
        }
    }

    .form-group textarea.form-control {
        width: 80vh;
    }
}
