@import '../mixins/_mixins-grid.scss';
@import '../mixins/_mixins-media.scss';

#our-services {
    margin-bottom: 10px;
    display: flex;

    .container {
        padding: 4rem;
        justify-content: center;

        .headline {
            text-align: center;
            margin-bottom: 2rem;

            .section-title {
                color: var(--color-secondary);
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }

            .title {
                font-size: 2rem;
                color: var(--color-primary);
                margin-bottom: 1rem;
            }
        }

        .services {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            a {
                text-decoration: none;
                color: inherit;

                &:hover .item {
                    background-color: var(--color-accent);
                }
            }

            .item {
                border: 1px solid var(--color-gray);
                padding: 1rem;
                text-align: center;
                transition: background-color 0.3s;
                width: 100%;
                height: 100%;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                h6 {
                    color: var(--color-secondary);
                }

                .header {
                    margin-bottom: 1rem;
                }

                .body {
                    margin-bottom: 1rem;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        height: 220px;
                        overflow: hidden;
                        transition: transform 0.3s;
                    }
                }

                .footer {
                    p {
                        text-align: left;
                    }
                }
            }

            a:hover .body img {
                transform: scale(1.1);
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            text-decoration: none;

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1rem;

                .change {
                    color: black;
                    cursor: pointer;
                    margin: 0 0.5rem;
                    text-decoration: none;
                    font-weight: 700;

                    &.inactive {
                        color: var(--color-accent);
                        text-decoration: none;
                    }

                    &:not(.inactive) {
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                }

                .pages {
                    display: flex;
                    list-style: none;
                    padding: 0;

                    .number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        color: var(--color-primary);
                        cursor: pointer;
                        margin: 0 0.5rem;

                        a {
                            text-decoration: none;
                            color: inherit;
                            font-weight: 700;
                        }

                        &.active {
                            color: var(--color-primary);
                            background-color: none;
                            border: 1px solid var(--color-accent);
                        }
                    }
                }
            }
        }
    }

    @include mobile {
        .container {
            padding: 2rem;

            .headline {
                text-align: center; 
                .section-title {
                    font-size: 1rem;
                }

                .title {
                    font-size: 1.5rem;
                }
            }

            .services {
                grid-template-columns: 1fr;
                gap: 10px;

                .item {
                    padding: 0.5rem;

                    .body {
                        img {
                            height: 150px;
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center; 
                .container {
                    .change {
                        margin: 0 0.25rem;
                    }

                    .pages {
                        .number {
                            width: 30px;
                            height: 30px;
                            margin: 0 0.25rem;
                        }
                    }
                }
            }
        }
    }

    @include tablet {
        .container {
            padding: 3rem;

            .headline {
                text-align: center; 
                .section-title {
                    font-size: 1.1rem;
                }

                .title {
                    font-size: 1.75rem;
                }
            }

            .services {
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;

                .item {
                    padding: 0.75rem;

                    .body {
                        img {
                            height: 180px;
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center; 
                .container {
                    .change {
                        margin: 0 0.5rem;
                    }

                    .pages {
                        .number {
                            width: 35px;
                            height: 35px;
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        .container {
            padding: 4rem;

            .headline {
                text-align: center; 
                .section-title {
                    font-size: 1.25rem;
                }

                .title {
                    font-size: 2rem;
                }
            }

            .services {
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                .item {
                    padding: 1rem;

                    .body {
                        img {
                            height: 220px;
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center; 
                .container {
                    .change {
                        margin: 0 0.5rem;
                    }

                    .pages {
                        .number {
                            width: 40px;
                            height: 40px;
                            margin: 0 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
