@import '../misc/aside';

.service-details {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .page-content {
        color: var(--color-primary) !important;

        h3, h4, h5, h6 {
            color: var(--color-secondary); 
        }

        p {
            margin-bottom: 1.5em; 
        }

        ul, ol {
            list-style-position: inside;
            margin-left: 1.5em;

            li {
                color: var(--color-secondary);
                margin-bottom: 0.5em;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 1.5em;
        }

        strong {
            font-weight: bold;
        }

        .float-left {
            float: left;
            margin-right: 1.5em;
        }

        .float-right {
            float: right;
            margin-left: 1.5em;
        }
    }

    @include mobile {
        .container {
            flex-direction: column;
        }

        .aside-left, .page-content {
            width: 100%;
        }

        .page-content {
            .float-left, .float-right {
                float: none;
                margin: 0 auto 1.5em auto;
            }
        }
    }

    @include tablet {
        .container {
            flex-direction: column;
        }

        .aside-left, .page-content {
            width: 100%;
        }

        .page-content {
            .float-left, .float-right {
                float: none;
                margin: 0 auto 1.5em auto;
            }
        }
    }

    @include desktop {
        .container {
            flex-direction: row;
        }

        .aside-left {
            width: 25%;
        }

        .page-content {
            width: 75%;
        }
    }
}
