#smile-chick.spacingBottomClass {
    position: relative;
    height: 10rem;
    align-items: center;
    margin-bottom: 5%;

    img {
        position: absolute;
        top: -30rem;
        left: 25%;
        z-index: 5;
        width: 50%;
        height: auto;
        border-radius: 3px;
    }
    
    @media (max-width: 1024px) { 
        display: none;
    }
}
