@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Ensure you import the mixins file */
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
header .container .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logotype img {
  width: 10em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
header .container .logotype img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .container .nav-menu {
  display: none;
}
@media (min-width: 1025px) {
  header .container .nav-menu {
    display: block;
  }
}
header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container #toggle-mobile-menu {
  display: block;
}
@media (min-width: 1025px) {
  header .container #toggle-mobile-menu {
    display: none;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Ensure you import the mixins file */
#topbar.bg-primary .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: 100%;
}
#topbar.bg-primary .address {
  color: var(--color-light);
}
#topbar.bg-primary .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#topbar.bg-primary .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  width: 5em;
  height: 100%;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  border: 1px solid black;
  border-radius: 5px;
}
#topbar.bg-primary .social-media a:first-child {
  border-left: 2px solid black;
}
#topbar.bg-primary .social-media a:last-child {
  border-right: 2px solid black;
}
#topbar.bg-primary .social-media a:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#topbar.bg-primary .social-media a i {
  font-size: 1.2rem;
}
#topbar.bg-primary .social-media a[target=_blank]:after {
  content: none;
}
@media (max-width: 767px) {
  #topbar.bg-primary .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #topbar.bg-primary .social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #topbar.bg-primary .social-media a {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.partners .container .image-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.partners .container .image-slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.partners .container .image-slider .slides .slide-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 1em;
  scroll-snap-align: start;
  cursor: pointer;
}
.partners .container .image-slider .slides .slide-item img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.partners .container .image-slider .slides .slide-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.hero-slider .container {
  position: flex;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .hero-slider .container {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-slider .container {
    height: 400px;
  }
}
@media (min-width: 1025px) {
  .hero-slider .container {
    height: 500px;
  }
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Ensure you import the mixins file */
.about-us .container {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .about-us .container {
    padding: 20px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us .container {
    padding: 30px 0;
  }
}
@media (min-width: 1025px) {
  .about-us .container {
    padding: 50px 0;
  }
}
.about-us .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about-us .content .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}
@media (max-width: 767px) {
  .about-us .content .text {
    padding: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us .content .text {
    padding: 1rem;
  }
}
@media (min-width: 1025px) {
  .about-us .content .text {
    padding: 1.5rem;
  }
}
.about-us .content .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}
.about-us .content .image img {
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .about-us .content .image {
    padding: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about-us .content .image {
    padding: 1rem;
  }
}
@media (min-width: 1025px) {
  .about-us .content .image {
    padding: 1.5rem;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1025px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1025px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1441px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a[target=_blank]:after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  font-size: 0.8em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4em;
  margin-top: -0.9em;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 40px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none !important;
}

.btn-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn-menu:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  text-decoration: none !important;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */d-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.container {
  position: relative;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1025px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1441px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  margin-right: auto;
  margin-left: auto;
}

#hero-section {
  margin-top: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: white;
  height: auto;
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
#hero-section .background-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media (min-width: 1025px) {
  #hero-section .background-image {
    display: block;
  }
}
#hero-section .umb-block-grid__area-container {
  z-index: -1;
  width: 100%;
  padding-right: 1rem !important;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  #hero-section .umb-block-grid__area-container {
    padding-left: 1rem !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #hero-section .umb-block-grid__area-container {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1025px) {
  #hero-section .umb-block-grid__area-container {
    padding-left: 1.5rem;
  }
}
@media (min-width: 1441px) {
  #hero-section .umb-block-grid__area-container {
    padding-left: 5rem;
  }
}
@media (min-width: 1921px) {
  #hero-section .umb-block-grid__area-container {
    padding-left: 9rem;
  }
}
#hero-section .container {
  position: relative;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  #hero-section .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #hero-section .container {
    max-width: 720px;
  }
}
@media (min-width: 1025px) {
  #hero-section .container {
    max-width: 960px;
  }
}
@media (min-width: 1441px) {
  #hero-section .container {
    max-width: 1140px;
  }
}
@media (min-width: 1921px) {
  #hero-section .container {
    max-width: 1320px;
  }
}
#hero-section .container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-bottom: 1rem;
  width: 9em;
}
#hero-section .container p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  font-size: 1.25rem;
  width: 60%;
}
#hero-section .container button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#hero-section .container button:hover {
  background-color: var(--color-primary-light);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

#about-us.spacingBottomClass .container {
  padding: 20rem;
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vh;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}
@media (max-width: 767px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 1rem;
  }
}
@media (min-width: 1025px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 1.5rem;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
}
@media (max-width: 767px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 0.5rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 1rem 0;
  }
}
@media (min-width: 1025px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 1.5rem 0;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container .umb-block-grid__layout-item[data-content-element-type-alias=quotation] blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: italic;
}

#our-services .container {
  padding: 4rem;
}
#our-services .container .headline {
  text-align: center;
  margin-bottom: 2rem;
}
#our-services .container .headline .section-title {
  color: var(--color-secondary);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
#our-services .container .headline .title {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}
#our-services .container .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
#our-services .container .services a {
  text-decoration: none;
  color: inherit;
}
#our-services .container .services a:hover .item {
  background-color: var(--color-accent);
}
#our-services .container .services .item {
  border: 1px solid var(--color-gray);
  padding: 1rem;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#our-services .container .services .item h6 {
  color: var(--color-secondary);
}
#our-services .container .services .item .header {
  margin-bottom: 1rem;
}
#our-services .container .services .item .body {
  margin-bottom: 1rem;
  overflow: hidden;
}
#our-services .container .services .item .body img {
  max-width: 100%;
  height: 220px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#our-services .container .services .item .footer p {
  text-align: left;
}
#our-services .container .services a:hover .body img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#our-services .container .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  text-decoration: none;
}
#our-services .container .pagination .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}
#our-services .container .pagination .container .change {
  color: black;
  cursor: pointer;
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: 700;
}
#our-services .container .pagination .container .change.inactive {
  color: var(--color-accent);
  text-decoration: none;
}
#our-services .container .pagination .container .change:not(.inactive) {
  color: var(--color-primary);
  text-decoration: none;
}
#our-services .container .pagination .container .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
#our-services .container .pagination .container .pages .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-primary);
  cursor: pointer;
  margin: 0 0.5rem;
}
#our-services .container .pagination .container .pages .number a {
  text-decoration: none; /* Remove underline from page numbers */
  color: inherit;
  font-weight: 700; /* Ensure the link inherits the color */
}
#our-services .container .pagination .container .pages .number.active {
  color: var(--color-primary);
  background-color: none;
  border: 1px solid var(--color-accent);
}

#why-choose-us {
  height: 75em;
  position: relative;
}
#why-choose-us .container {
  text-align: center;
  padding-top: 10vh;
  position: relative;
}
#why-choose-us .container img {
  padding-top: 8vh;
  width: 100%;
  height: auto;
  z-index: -1;
  display: block;
  position: relative;
}
#why-choose-us .container .umb-block-grid__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#why-choose-us .container h2 {
  margin: 0;
  padding: 1rem;
}
#why-choose-us .container h3 {
  font-size: 40px;
}
#why-choose-us .container p {
  margin: 2rem 5rem;
  padding: 0.5rem;
  width: 60%;
  text-align: center;
}
#why-choose-us .container .btn {
  margin-top: 1rem;
}
#why-choose-us .container img:nth-of-type(2) {
  position: absolute;
  opacity: 0 !important;
  -webkit-transform: translateY(100%) ip !important;
          transform: translateY(100%) ip !important;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out !important;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out !important;
}
#why-choose-us .container.in-view img:nth-of-type(2) {
  opacity: 1 ipo !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

#success-story {
  z-index: 1;
  background-color: var(--color-primary);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 1rem;
}
#success-story .container:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: relative;
  text-align: center;
}
#success-story .container:nth-of-type(1) img {
  z-index: -1;
  padding-top: 8vh;
  width: auto;
}
#success-story .container:nth-of-type(1) h6, #success-story .container:nth-of-type(1) h3 {
  text-align: center;
  z-index: 2;
  margin: 0;
  padding: 0.5rem;
  color: var(--color-secondary);
  position: absolute;
  top: 10vh;
}
#success-story .container:nth-of-type(1) h3 {
  color: var(--color-light);
  top: 13vh;
}
#success-story .container:nth-of-type(2) {
  z-index: 50;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background-color: var(--color-light);
}
#success-story .container:nth-of-type(2) .umb-block-grid__layout-item {
  z-index: 3;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#success-story .container:nth-of-type(2) .umb-block-grid__layout-item h1 {
  margin: 0;
  padding: 0.5rem;
  color: var(--color-secondary);
}
#success-story .container:nth-of-type(2) .umb-block-grid__layout-item p {
  color: black;
}
#success-story .container:nth-of-type(3) {
  z-index: 4;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#success-story .container:nth-of-type(3) img:nth-of-type(2) {
  width: auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

#about-us.spacingBottomClass .container {
  padding: 20rem;
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45vh;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}
@media (max-width: 767px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 1rem;
  }
}
@media (min-width: 1025px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container .p {
    padding: 1.5rem;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
}
@media (max-width: 767px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 0.5rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 1rem 0;
  }
}
@media (min-width: 1025px) {
  #about-us.spacingBottomClass .container .umb-block-grid__layout-container img {
    padding: 1.5rem 0;
  }
}
#about-us.spacingBottomClass .container .umb-block-grid__layout-container .umb-block-grid__layout-item[data-content-element-type-alias=quotation] blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: italic;
}

.projects .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-gray);
}
.projects .item:last-child {
  border-bottom: none;
}
.projects .item .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  margin-right: 20px;
}
.projects .item .image img {
  max-width: 100%;
  height: auto;
  display: block;
}
.projects .item .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .item .item-text .header h4 {
  margin: 0;
  font-size: 1.2em;
}
.projects .item .item-text .date {
  color: var(--color-gray);
  font-size: 0.9em;
  margin-top: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
  height: 100%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
header .container .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logotype img {
  width: 10em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
header .container .logotype img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .container .nav-menu {
  display: none;
}
@media (min-width: 1025px) {
  header .container .nav-menu {
    display: block;
  }
}
header .container .nav-menu .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  font-size: 1.5em;
  color: var(--color-primary);
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
header .container .nav-menu .nav-link:hover {
  color: var(--color-secondary);
}
header .container .nav-menu .nav-link.active {
  color: var(--color-secondary);
}
header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}
header .container #toggle-mobile-menu {
  display: block;
}
@media (min-width: 1025px) {
  header .container #toggle-mobile-menu {
    display: none;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

#topbar.bg-primary .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: 100%;
}
#topbar.bg-primary .address {
  color: var(--color-light);
}
#topbar.bg-primary .social-media {
  display: none;
  height: 100%;
}
@media (min-width: 1025px) {
  #topbar.bg-primary .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#topbar.bg-primary .social-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  width: 5em;
  height: 100%;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  border: 0.05px solid var(--color-primary-light);
}
#topbar.bg-primary .social-media a:first-child {
  border-left: 0.1px solid var(--color-primary-light);
}
#topbar.bg-primary .social-media a:last-child {
  border-right: 0.1px solid var(--color-primary-light);
}
#topbar.bg-primary .social-media a:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#topbar.bg-primary .social-media a i {
  font-size: 1.2rem;
}
#topbar.bg-primary .social-media a[target=_blank]:after {
  content: none;
}
@media (max-width: 767px) {
  #topbar.bg-primary .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1441px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1921px) {
  .projects-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.page-title {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.page-title .background-picture {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.page-title .background-picture.background-picture1 {
  left: -10em;
  top: 2.8em;
}
.page-title .background-picture.background-picture2 {
  right: -70px;
  top: -6em;
}
.page-title .container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem;
}
.page-title .container h1 {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .page-title .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1em;
}
.breadcrumb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin: 0 0.5rem;
  color: var(--color-primary);
}
.breadcrumb li a {
  text-decoration: none;
  color: var(--color-primary);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.breadcrumb li a:hover {
  color: var(--color-light);
}
.breadcrumb li.active {
  color: var(--color-secondary);
  pointer-events: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}

.aside-right {
  width: 25%;
  padding: 20px;
  border-left: 1px solid var(--color-gray);
}

.aside-left {
  width: 25%;
  padding: 20px;
  border-right: 1px solid var(--color-gray);
}

.recent-projects,
.tags,
.contact {
  margin-bottom: 20px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}/*# sourceMappingURL=main.css.map */