<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb747128-b6f8-482c-8252-e19f14609aca" Alias="Aside  Layout" Level="1">
  <Info>
    <Name>Aside  Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cf356c6b-aaf5-445f-bf5f-9761d8138dda",
      "allowAtRoot": true,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "label": "Our Projects"
    },
    {
      "contentElementTypeKey": "52672178-88bd-4e17-8e40-0516f1153405",
      "allowAtRoot": true,
      "label": "Contact Form",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "333f03de-5b4a-4572-a003-42c63419126a",
      "allowAtRoot": true
    },
    {
      "contentElementTypeKey": "5d3153dc-499a-4e59-96aa-19768862370d",
      "allowAtRoot": true
    },
    {
      "contentElementTypeKey": "7f68fce7-db8f-4ad8-98dd-f1aa4cd3d346",
      "allowAtRoot": true
    },
    {
      "contentElementTypeKey": "20178679-a78f-43bc-a4a1-52520e69f867",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>