<?xml version="1.0" encoding="utf-8"?>
<DataType Key="915aa60f-1ccd-4c37-a7fc-24dbaec9d80b" Alias="Aside Content" Level="1">
  <Info>
    <Name>Aside Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "gridColumns": 12
}]]></Config>
</DataType>