<?xml version="1.0" encoding="utf-8"?>
<DataType Key="def1946e-a698-4d5a-ad90-46621b851b79" Alias="Button Link - Button Color - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Button Link - Button Color - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "d9c3a9",
      "label": "Secondary"
    },
    {
      "value": "f2eddc",
      "label": "Accent"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "ffffff",
      "label": "Light"
    },
    {
      "value": "ffffff",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>