<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da0994b4-1b50-403c-afed-20e8d66999f3" Alias="Contact  - Partners Slider " Level="1">
  <Info>
    <Name>Contact  - Partners Slider </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "190efe2d-d8de-48cf-baf7-66c1bdbf16f6",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>