<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4972f805-56c4-4b79-9182-9985a987f19f" Alias="Contact Form Picker" Level="1">
  <Info>
    <Name>Contact Form Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Services",
    "Service 1",
    "Service 2",
    "Service 3",
    "Service 4"
  ],
  "multiple": true
}]]></Config>
</DataType>