<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8ef875e-2795-463f-87af-8f0f0ddfcd29" Alias="Contact Form Reusable" Level="1">
  <Info>
    <Name>Contact Form Reusable</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eb5cd4b7-142c-4e27-a9c5-5469e50dae63",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "6885698c-5564-47e9-99c9-4674eb0e2771",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "16654731-4ba5-4b11-a78a-9add9d91658d",
      "label": "DropdownList - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "c8ebaf9c-2795-465d-ae82-05ba190321d6",
      "label": "FormButton - {=uniqueName}"
    }
  ],
  "useSingleBlockMode": false
}]]></Config>
</DataType>