<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb0d2016-c639-41f6-b3e3-6638eb53d86d" Alias="Contact Page - Contact From - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact From - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "eb5cd4b7-142c-4e27-a9c5-5469e50dae63",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "6885698c-5564-47e9-99c9-4674eb0e2771",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "c8ebaf9c-2795-465d-ae82-05ba190321d6",
      "label": "InputButton - {=buttonType}"
    },
    {
      "contentElementTypeKey": "16654731-4ba5-4b11-a78a-9add9d91658d",
      "label": "Choose"
    },
    {
      "contentElementTypeKey": "6fb3661f-7a78-4add-a365-fee7763c77b5"
    }
  ]
}]]></Config>
</DataType>