<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86b10b02-672d-4147-a6c3-1ef5fe9a4bd5" Alias="Form Button - Button Type" Level="1">
  <Info>
    <Name>Form Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>