<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9af9e95-5e86-4cf2-b920-155725358400" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "94ac42b5-a861-416a-a47c-b2da9f1578c7",
      "name": "Containers"
    },
    {
      "key": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "name": "Custom Components"
    },
    {
      "key": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1634b33d-5f41-4084-909b-b9d7d5d36375",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0c6b4cfb-3d0c-4b2e-9398-81c1fb46fc71",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "20178679-a78f-43bc-a4a1-52520e69f867",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3ea66b9f-3a00-457c-a5c3-21810fad8b35",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fcf86f45-c192-4805-a59e-e61247b599b0",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e31a330c-3b40-4fd7-be2d-f39ea658af6e",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f9a06c05-500f-4810-9991-a5f7f8d80b95",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true,
      "label": "Button Link - **{=buttonLinkText}**"
    },
    {
      "contentElementTypeKey": "7e56fe54-fe16-4894-b3f3-b07cf484d974",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "label": "Image HTML Element - **{=selectedImage}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7f68fce7-db8f-4ad8-98dd-f1aa4cd3d346",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "label": "Link - **{=linkText}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f663ffbf-4b46-4002-a48b-2c0fb15c5030",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "allowInAreas": true,
      "label": "paragraph"
    },
    {
      "contentElementTypeKey": "86dd179b-d9d2-4ac8-8bea-28b8da5dabbe",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7d76638b-fe73-4a00-a998-93e75c98e954",
      "allowAtRoot": false,
      "groupKey": "cfadebee-235b-4432-8c3c-96b486fae6e7",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "190efe2d-d8de-48cf-baf7-66c1bdbf16f6",
      "allowAtRoot": false,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "allowInAreas": true,
      "label": "Image Slider"
    },
    {
      "contentElementTypeKey": "584f76da-28ab-43af-b214-6429e6ac8520",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386"
    },
    {
      "contentElementTypeKey": "52672178-88bd-4e17-8e40-0516f1153405",
      "allowAtRoot": false,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e67f5478-8a0b-42d9-b08c-77268f8a4252",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "label": "Project List",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5d3153dc-499a-4e59-96aa-19768862370d",
      "allowAtRoot": false,
      "label": "dynamic container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        }
      ],
      "areas": [
        {
          "key": "e194e097-cdd2-4690-af54-775faa77bd20",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "94ac42b5-a861-416a-a47c-b2da9f1578c7",
      "areaGridColumns": 12,
      "settingsElementTypeKey": "5d3153dc-499a-4e59-96aa-19768862370d"
    },
    {
      "contentElementTypeKey": "333f03de-5b4a-4572-a003-42c63419126a",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "d159cdc1-b879-4c83-82d4-d38b3baa8b1e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "container",
      "groupKey": "94ac42b5-a861-416a-a47c-b2da9f1578c7",
      "columnSpanOptions": [],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "09cb14d6-e32a-434a-a522-d47b87f9b1c0",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "8e062e1f-f660-4a4b-801c-0431a6b14a95",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "section - **{=sectionTitle}**",
      "groupKey": "94ac42b5-a861-416a-a47c-b2da9f1578c7",
      "columnSpanOptions": [],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "2ecabb58-b5fb-4640-bb54-dedc409263f0",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "allowInAreas": false,
      "areas": [
        {
          "key": "43719eed-b58c-4bf6-b9ba-aae872ee8331",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "94ac42b5-a861-416a-a47c-b2da9f1578c7",
      "columnSpanOptions": [],
      "areaGridColumns": 12
    },
    {
      "contentElementTypeKey": "6145eda6-8c3e-4648-aa68-96eae6bed52a",
      "allowAtRoot": false,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "allowInAreas": true,
      "label": "Success Numbers"
    },
    {
      "contentElementTypeKey": "c83384cc-35d4-4517-bfa0-551a23693427",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "allowInAreas": false,
      "label": "Professionals"
    },
    {
      "contentElementTypeKey": "8bd6a374-760c-42cc-a9d9-5519645b5b3e",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "label": "Reviews",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2c0b2561-ffa9-46ad-8295-e7f4539d3210",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386",
      "label": "CEO",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cf356c6b-aaf5-445f-bf5f-9761d8138dda",
      "allowAtRoot": true,
      "groupKey": "8b9ed9c9-8d0c-4ea7-a3fb-8fea8a4dc386"
    }
  ],
  "gridColumns": 12,
  "maxPropertyWidth": "100%",
  "useLiveEditing": false
}]]></Config>
</DataType>