<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cf33f8d-d542-44b1-a983-fbbc6ad5a702" Alias="Our Services Section - Section Title - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Our Services Section - Section Title - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>