<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d6e9044-801e-4abd-880c-a70ef3b77259" Alias="Settings - Online Support Background Icon - Code Editor Property Editor UI" Level="1">
  <Info>
    <Name>Settings - Online Support Background Icon - Code Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "height": 400,
  "language": [
    "html"
  ],
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": false
}]]></Config>
</DataType>