<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e0e8a74-ca0b-4aa0-a78f-cf092bc31f57" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "LinkedIn",
    "Instagram",
    "TikTok",
    "X (formerly Twitter)",
    "YouTube"
  ]
}]]></Config>
</DataType>