<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf94b500-a293-4728-99d3-59e6dc2d6cc9" Alias="Aaron" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/Aaron</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:18:18</CreateDate>
    <NodeName Default="Aaron" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/r35ne4p0/aaron.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>