<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5f21ff4-74dc-4a65-9316-4a21a023d104" Alias="Background Sphere.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackgroundSpherepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T19:47:49</CreateDate>
    <NodeName Default="Background Sphere.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ppklie3v/background-sphere.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>