<?xml version="1.0" encoding="utf-8"?>
<Media Key="939b2a34-73a3-4897-984b-e35687a160bc" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="51ed4241-c43c-4144-9490-a6487ced1c2b">Background Images</Parent>
    <Path>/BackgroundImages/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T10:57:57</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y0lds2ny/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>