<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff323449-ba91-4015-b7a3-e27af7bb42e1" Alias="Bottoms up.svg" Level="2">
  <Info>
    <Parent Key="048d4b45-fcdf-471b-a0ac-a9257df51452">Misc</Parent>
    <Path>/Misc/BottomsUpsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T20:08:53</CreateDate>
    <NodeName Default="Bottoms up.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xoejahmk/bottoms-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>