<?xml version="1.0" encoding="utf-8"?>
<Media Key="d34f93c9-04a4-4703-b2e6-841f72ce5b19" Alias="Brand.webp.svg" Level="2">
  <Info>
    <Parent Key="70c775e7-22e9-4909-b8a6-2fcf1e398ae5">Logo</Parent>
    <Path>/Logo/Brandwebpsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T20:31:03</CreateDate>
    <NodeName Default="Brand.webp.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hmxo0mn5/brandwebp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>