<?xml version="1.0" encoding="utf-8"?>
<Media Key="43eb5413-78b9-4996-8ce5-4425472aca21" Alias="Brandon 1" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/Brandon1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:18:03</CreateDate>
    <NodeName Default="Brandon 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tspk13oq/brandon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>