<?xml version="1.0" encoding="utf-8"?>
<Media Key="25525a68-ab6f-4703-906c-04766f0c25ae" Alias="Brandon Karr" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/BrandonKarr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:17:45</CreateDate>
    <NodeName Default="Brandon Karr" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/24ibjeyg/brandon-karr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>