<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9e03550-2b00-4dcd-9f12-31db072ba97c" Alias="Dot map white.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapWhitesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T08:46:59</CreateDate>
    <NodeName Default="Dot map white.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ukeeewy1/dot-map-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>