<?xml version="1.0" encoding="utf-8"?>
<Media Key="74b1686d-560e-44da-9f30-d660070236c8" Alias="dot-map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-20T08:45:03</CreateDate>
    <NodeName Default="dot-map 1.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5kbhfqv/dot-map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>