<?xml version="1.0" encoding="utf-8"?>
<Media Key="940551be-5f1c-439c-94e8-58d7beeb8976" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="51ed4241-c43c-4144-9490-a6487ced1c2b">Background Images</Parent>
    <Path>/BackgroundImages/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T10:57:36</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jtwko3qh/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>