<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ab7360e-d8e2-4b49-aeaa-0bea4a9466e1" Alias="Fossil" Level="2">
  <Info>
    <Parent Key="ee0ddf74-aae9-4c35-8584-6b86f247b5d9">Partners</Parent>
    <Path>/Partners/Fossil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:10:14</CreateDate>
    <NodeName Default="Fossil" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qh4pdxel/06.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>