<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7b92232-3e24-4ed7-a9c5-7c11cd1ada7b" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-02T08:15:45</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>