<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6a72308-5004-415f-9fdd-71b96e02a79c" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:42:52</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q5upc2dn/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>