<?xml version="1.0" encoding="utf-8"?>
<Media Key="e49efea3-c3a0-413b-9d90-b28b74a16f4e" Alias="img_choose_01_home01 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T09:33:09</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fq0nquwj/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>