<?xml version="1.0" encoding="utf-8"?>
<Media Key="51bb37d2-5c5b-4823-a932-5244f1606579" Alias="kevin-gardner.png" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/kevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T09:08:19</CreateDate>
    <NodeName Default="kevin-gardner.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lx4p1zzs/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>