<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf0f56c5-7158-4a06-bf8a-c1c7335324d1" Alias="Kevin" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/Kevin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:19:22</CreateDate>
    <NodeName Default="Kevin" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jkoes4jr/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>