<?xml version="1.0" encoding="utf-8"?>
<Media Key="70c775e7-22e9-4909-b8a6-2fcf1e398ae5" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T20:03:32</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>