<?xml version="1.0" encoding="utf-8"?>
<Media Key="b20fb463-73da-4125-97ea-7a35aa8a1eee" Alias="Mail.svg (1)" Level="2">
  <Info>
    <Parent Key="51ed4241-c43c-4144-9490-a6487ced1c2b">Background Images</Parent>
    <Path>/BackgroundImages/Mailsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T20:16:10</CreateDate>
    <NodeName Default="Mail.svg (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/seel0ugb/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>