<?xml version="1.0" encoding="utf-8"?>
<Media Key="432a9877-2400-44af-bab2-f36c4b823b1a" Alias="Miranda" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/Miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:18:51</CreateDate>
    <NodeName Default="Miranda" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5bjgz3lj/miranda.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>