<?xml version="1.0" encoding="utf-8"?>
<Media Key="048d4b45-fcdf-471b-a0ac-a9257df51452" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-02T08:15:13</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>