<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee0ddf74-aae9-4c35-8584-6b86f247b5d9" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T13:07:58</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>