<?xml version="1.0" encoding="utf-8"?>
<Media Key="24a714dc-d9a0-4b87-b78d-51e9968fef4a" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="f611baa4-e31d-4f1c-b30f-d6c4379b7078">Projects</Parent>
    <Path>/Projects/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T11:38:41</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kppodewj/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>