<?xml version="1.0" encoding="utf-8"?>
<Media Key="51814677-8463-44b9-a15d-0fef01fc14fc" Alias="pj4.png" Level="2">
  <Info>
    <Parent Key="f611baa4-e31d-4f1c-b30f-d6c4379b7078">Projects</Parent>
    <Path>/Projects/pj4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T11:39:26</CreateDate>
    <NodeName Default="pj4.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5cgmpzyk/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>