<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec9954d4-750b-4b88-b338-692f6362212e" Alias="post2 1.png" Level="2">
  <Info>
    <Parent Key="f4c85c9d-34a7-4be4-888a-655c115b56a2">Services</Parent>
    <Path>/Services/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T10:26:49</CreateDate>
    <NodeName Default="post2 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lopn4wtc/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>