<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bbe723f-4a37-4a7d-a02c-e558ff979a36" Alias="Rectangle.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rectanglepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T20:14:14</CreateDate>
    <NodeName Default="Rectangle.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wc2prtk4/rectangle.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>