<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4c85c9d-34a7-4be4-888a-655c115b56a2" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-11T14:58:26</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>