<?xml version="1.0" encoding="utf-8"?>
<Media Key="b69f2bfd-9e45-4607-9948-6e747262332d" Alias="Signature" Level="2">
  <Info>
    <Parent Key="048d4b45-fcdf-471b-a0ac-a9257df51452">Misc</Parent>
    <Path>/Misc/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:17:18</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.4628042623141919,
    "top": 0.5186291604388755
  },
  "crops": [],
  "src": "/media/olqnsabm/onlinesignaturesnet-302-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>