<?xml version="1.0" encoding="utf-8"?>
<Media Key="463a2af2-5082-4e04-93c4-1f538547a6b3" Alias="Sphere bottom" Level="2">
  <Info>
    <Parent Key="048d4b45-fcdf-471b-a0ac-a9257df51452">Misc</Parent>
    <Path>/Misc/SphereBottom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T19:40:03</CreateDate>
    <NodeName Default="Sphere bottom" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.497682373046875,
    "top": 0.5264658244250081
  },
  "crops": [],
  "src": ""
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>