<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6911861-e4a0-4d94-bfb1-8d165b722d05" Alias="Statistic Advisors" Level="2">
  <Info>
    <Parent Key="f4c85c9d-34a7-4be4-888a-655c115b56a2">Services</Parent>
    <Path>/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T15:03:54</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/31jno2gj/image-24-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>