<?xml version="1.0" encoding="utf-8"?>
<Media Key="87aaafb5-7fc2-49f6-b5e6-a4578c746f7d" Alias="Tax and Trusts" Level="2">
  <Info>
    <Parent Key="f4c85c9d-34a7-4be4-888a-655c115b56a2">Services</Parent>
    <Path>/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T15:02:24</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hjspymnl/image-22-min-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>