<?xml version="1.0" encoding="utf-8"?>
<Media Key="2664650e-b2fe-40e1-8c96-ad87d973edaa" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-02T08:15:27</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>