<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1cb33b0-0143-4492-b5cd-e68637bb85c3" Alias="Tina" Level="2">
  <Info>
    <Parent Key="2664650e-b2fe-40e1-8c96-ad87d973edaa">Team Members</Parent>
    <Path>/TeamMembers/Tina</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T08:19:09</CreateDate>
    <NodeName Default="Tina" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/h52j0fzk/tina.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>