<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d3da5dd-a592-4537-9281-e5a786abb5ab" Alias="Vector" Level="2">
  <Info>
    <Parent Key="70c775e7-22e9-4909-b8a6-2fcf1e398ae5">Logo</Parent>
    <Path>/Logo/Vector</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T20:04:08</CreateDate>
    <NodeName Default="Vector" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kjxhxc51/vector.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>