<?xml version="1.0" encoding="utf-8"?>
<Media Key="cded7ab5-2dfb-4de4-8c8b-b0772520745a" Alias="Video 1.png" Level="2">
  <Info>
    <Parent Key="51ed4241-c43c-4144-9490-a6487ced1c2b">Background Images</Parent>
    <Path>/BackgroundImages/Video1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T22:23:56</CreateDate>
    <NodeName Default="Video 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hkykw42s/video-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>