<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b089af4-387a-4cdc-9c38-d09e0f2f31f1" Alias="Video 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Video1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:52:36</CreateDate>
    <NodeName Default="Video 1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pnie2pit/video-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>