<?xml version="1.0" encoding="utf-8"?>
<Content Key="5329d86d-c797-4a14-b150-b9a20bd95023" Alias="About" Level="2">
  <Info>
    <Parent Key="4c235777-8562-4568-bbe0-f79644db33d8">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-11T09:04:26</CreateDate>
    <NodeName Default="About">
      <Name Culture="en-US">About</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="028933df-7f9c-42b7-9ec3-31b0c6ad7001">modularPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2ecabb58-b5fb-4640-bb54-dedc409263f0",
      "udi": "umb://element/79bc954bfe6541c69cbc90553a10b68f",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "sectionTitle": "professionals"
    },
    {
      "contentTypeKey": "c83384cc-35d4-4517-bfa0-551a23693427",
      "udi": "umb://element/67253a7fcdf341f9bfd568c4f8199d57",
      "profsBackgroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "profSectionTitle": "Professionals"
    },
    {
      "contentTypeKey": "2c0b2561-ffa9-46ad-8295-e7f4539d3210",
      "udi": "umb://element/96723fe153e44ddb914fe9d64d32a4cd",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022None\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "tinaPicture": "[{\u0022key\u0022:\u0022d20d90e3-1961-45ab-858c-570639ca4780\u0022,\u0022mediaKey\u0022:\u0022e49efea3-c3a0-413b-9d90-b28b74a16f4e\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Tina Fox - CEO \u0026 Founder at Onatrix",
      "tinaText": "Tina Fox - CEO \u0026 Founder at Onatrix",
      "tinaQuote": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D",
      "p1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.",
      "p2": "Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.",
      "p3": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.",
      "p4": "Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.",
      "p5": "Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.",
      "p6": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.",
      "p7": "Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra."
    },
    {
      "contentTypeKey": "8bd6a374-760c-42cc-a9d9-5519645b5b3e",
      "udi": "umb://element/c050cbfc9e3e49f986b67335f7cf0f89",
      "reviewPic": "[{\u0022key\u0022:\u0022a76e8373-62a0-48d8-aca5-e722e5d079d1\u0022,\u0022mediaKey\u0022:\u002251bb37d2-5c5b-4823-a932-5244f1606579\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "reviewPicDesc": "Kevin Gardner",
      "reviewPerson": "Kevin Gardner",
      "reviewCompnay": "Swebank",
      "reviewQuote": "Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.",
      "reviewH1": "Trusted by some Biggest Names",
      "reviewH6": "GREAT REVIEWS FOR OUR SERVICES",
      "sectionBackGroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#f7f7f7\u0022\r\n}"
    },
    {
      "contentTypeKey": "2ecabb58-b5fb-4640-bb54-dedc409263f0",
      "udi": "umb://element/1d79115670c841ee81bb104dec900310",
      "sectionTitle": "CEO"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1d79115670c841ee81bb104dec900310",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "43719eed-b58c-4bf6-b9ba-aae872ee8331",
            "items": [
              {
                "contentUdi": "umb://element/96723fe153e44ddb914fe9d64d32a4cd",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/c050cbfc9e3e49f986b67335f7cf0f89",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/79bc954bfe6541c69cbc90553a10b68f",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "43719eed-b58c-4bf6-b9ba-aae872ee8331",
            "items": [
              {
                "contentUdi": "umb://element/67253a7fcdf341f9bfd568c4f8199d57",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Get to Know Us]]></Value>
    </pageTitle>
    <projectSectionHeadline>
      <Value><![CDATA[]]></Value>
    </projectSectionHeadline>
    <projectSectionTitle>
      <Value><![CDATA[]]></Value>
    </projectSectionTitle>
    <sectionTitle>
      <Value><![CDATA[]]></Value>
    </sectionTitle>
  </Properties>
</Content>