<?xml version="1.0" encoding="utf-8"?>
<Content Key="254051c4-9df8-4cba-ba94-1d35ed73404c" Alias="AJ Carter" Level="2">
  <Info>
    <Parent Key="a4f77e8e-19ef-4384-8806-55c89abd6337">Professionals</Parent>
    <Path>/Professionals/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalsTemplate</ContentType>
    <CreateDate>2024-10-03T08:40:08</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="04c80073-1aa4-43b2-ad83-285562270a00">professionalsTemplate</Template>
  </Info>
  <Properties>
    <professionalsName>
      <Value><![CDATA[AJ Carter]]></Value>
    </professionalsName>
    <professionalsPic>
      <Value><![CDATA[[
  {
    "key": "5c1adcb4-84aa-4f4f-b9ba-cc487382fd7c",
    "mediaKey": "ead13f79-eb7c-4340-a55b-999362ecaa35",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </professionalsPic>
    <professionalsProfesion>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </professionalsProfesion>
  </Properties>
</Content>