<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c724ee4-bce8-448a-9a80-1abc6eb71eb2" Alias="Brandon Kerr" Level="2">
  <Info>
    <Parent Key="a4f77e8e-19ef-4384-8806-55c89abd6337">Professionals</Parent>
    <Path>/Professionals/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalsTemplate</ContentType>
    <CreateDate>2024-10-03T08:42:14</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="04c80073-1aa4-43b2-ad83-285562270a00">professionalsTemplate</Template>
  </Info>
  <Properties>
    <professionalsName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </professionalsName>
    <professionalsPic>
      <Value><![CDATA[[
  {
    "key": "3abd07d3-5e9d-4b39-acf5-c58fed016399",
    "mediaKey": "25525a68-ab6f-4703-906c-04766f0c25ae",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </professionalsPic>
    <professionalsProfesion>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </professionalsProfesion>
  </Properties>
</Content>