<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3c4b14-2d2e-4488-b58b-0fc4a99be503" Alias="Freedom" Level="2">
  <Info>
    <Parent Key="d53f995c-5f65-4b2c-af83-bea61a5d1c13">Partners</Parent>
    <Path>/Partners/Freedom</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersTemplate</ContentType>
    <CreateDate>2024-10-03T22:22:20</CreateDate>
    <NodeName Default="Freedom" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37c45623-0913-45f5-b442-2a2482ec01cc">partnersTemplate</Template>
  </Info>
  <Properties>
    <partnersLogo>
      <Value><![CDATA[[
  {
    "key": "cd885eb7-801c-48b9-81f9-f5bad18d92a6",
    "mediaKey": "e771986a-64b1-4295-83aa-522bd8339417",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo>
  </Properties>
</Content>