<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc0a27a3-f7a4-42dc-ab13-fa40a5c815e7" Alias="Kevin Gardner" Level="2">
  <Info>
    <Parent Key="a4f77e8e-19ef-4384-8806-55c89abd6337">Professionals</Parent>
    <Path>/Professionals/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalsTemplate</ContentType>
    <CreateDate>2024-10-03T08:43:02</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="04c80073-1aa4-43b2-ad83-285562270a00">professionalsTemplate</Template>
  </Info>
  <Properties>
    <professionalsName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </professionalsName>
    <professionalsPic>
      <Value><![CDATA[[
  {
    "key": "ad95dbc1-d7d9-468b-beb3-b0915935e8ba",
    "mediaKey": "cf0f56c5-7158-4a06-bf8a-c1c7335324d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </professionalsPic>
    <professionalsProfesion>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </professionalsProfesion>
  </Properties>
</Content>