<?xml version="1.0" encoding="utf-8"?>
<Content Key="6fd9063b-5813-4812-af14-a5f3820c6fbc" Alias="Miranda Dayton" Level="2">
  <Info>
    <Parent Key="a4f77e8e-19ef-4384-8806-55c89abd6337">Professionals</Parent>
    <Path>/Professionals/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalsTemplate</ContentType>
    <CreateDate>2024-10-03T08:42:40</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="04c80073-1aa4-43b2-ad83-285562270a00">professionalsTemplate</Template>
  </Info>
  <Properties>
    <professionalsName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </professionalsName>
    <professionalsPic>
      <Value><![CDATA[[
  {
    "key": "20c366b5-b690-41f2-929d-dfe38af57f97",
    "mediaKey": "432a9877-2400-44af-bab2-f36c4b823b1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </professionalsPic>
    <professionalsProfesion>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </professionalsProfesion>
  </Properties>
</Content>