<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dd3f113-3fd0-41f7-830d-b6eb7e07fb0e" Alias="Natural" Level="2">
  <Info>
    <Parent Key="d53f995c-5f65-4b2c-af83-bea61a5d1c13">Partners</Parent>
    <Path>/Partners/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersTemplate</ContentType>
    <CreateDate>2024-10-03T22:23:06</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37c45623-0913-45f5-b442-2a2482ec01cc">partnersTemplate</Template>
  </Info>
  <Properties>
    <partnersLogo>
      <Value><![CDATA[[
  {
    "key": "b028bd49-4365-496d-abf5-b270dd352812",
    "mediaKey": "27e11172-17e8-4fae-be76-b716f5fca0af",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo>
  </Properties>
</Content>