<?xml version="1.0" encoding="utf-8"?>
<Content Key="d53f995c-5f65-4b2c-af83-bea61a5d1c13" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>professionals</ContentType>
    <CreateDate>2024-10-03T22:21:38</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <partner>
      <Value><![CDATA[]]></Value>
    </partner>
  </Properties>
</Content>