<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4f77e8e-19ef-4384-8806-55c89abd6337" Alias="Professionals" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Professionals</Path>
    <Trashed>false</Trashed>
    <ContentType>professionals</ContentType>
    <CreateDate>2024-10-03T08:39:18</CreateDate>
    <NodeName Default="Professionals" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <partner>
      <Value><![CDATA[Our experts]]></Value>
    </partner>
  </Properties>
</Content>