<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0ed4074-a79a-4f4a-8046-7f7cd1ce46df" Alias="Projects" Level="2">
  <Info>
    <Parent Key="4c235777-8562-4568-bbe0-f79644db33d8">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-26T13:34:25</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b28b6761-15c6-4a64-b157-f131d8b87fd4">projectListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>