<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2d874aa-ff88-4e36-8e6c-c604afd684fe" Alias="Services" Level="2">
  <Info>
    <Parent Key="4c235777-8562-4568-bbe0-f79644db33d8">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T14:52:31</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1ad025e7-e80e-4dd0-bdb6-3bdd93c76ec3">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>