<?xml version="1.0" encoding="utf-8"?>
<Content Key="d476515d-2e38-48fe-a8ad-034bdf2fa9cc" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-09T13:25:11</CreateDate>
    <NodeName Default="Settings">
      <Name Culture="en-US">Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutLinkPic>
      <Value><![CDATA[[
  {
    "key": "bf02fbb1-fe12-4d59-8555-16af4e540072",
    "mediaKey": "c6911861-e4a0-4d94-bfb1-8d165b722d05",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutLinkPic>
    <aboutLinkText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </aboutLinkText>
    <aboutLinkTitle>
      <Value><![CDATA[About Us]]></Value>
    </aboutLinkTitle>
    <backgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#f7f7f7"
}]]></Value>
    </backgroundColor>
    <backgroundColorPreFooter>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#f7f7f7"
}]]></Value>
    </backgroundColorPreFooter>
    <backgroundImage1Alt>
      <Value><![CDATA[dots]]></Value>
    </backgroundImage1Alt>
    <backgroundImage2Alt>
      <Value><![CDATA[background shape]]></Value>
    </backgroundImage2Alt>
    <backgroundImagePreFooter1>
      <Value><![CDATA[[
  {
    "key": "d9d05027-03ce-46f7-b2c4-7b0676b384e0",
    "mediaKey": "940551be-5f1c-439c-94e8-58d7beeb8976",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImagePreFooter1>
    <backgroundImagePreFooter2>
      <Value><![CDATA[[
  {
    "key": "98050ddc-8cff-4dae-b978-6c6368778b20",
    "mediaKey": "939b2a34-73a3-4897-984b-e35687a160bc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImagePreFooter2>
    <backgroundPicture1>
      <Value><![CDATA[[
  {
    "key": "8208978c-1e47-457a-9f4a-b654bfd5863c",
    "mediaKey": "6178225b-40b6-40a8-a4c6-862476c620d5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundPicture1>
    <backgroundPicture2>
      <Value><![CDATA[[
  {
    "key": "346728f8-9816-4721-bc31-101f4b4a3855",
    "mediaKey": "7bbe723f-4a37-4a7d-a02c-e558ff979a36",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundPicture2>
    <formDescription>
      <Value><![CDATA[Online support 24/7. We are here to help you.]]></Value>
    </formDescription>
    <header>
      <Value><![CDATA[How can we help you? ]]></Value>
    </header>
    <mainPicture>
      <Value><![CDATA[[
  {
    "key": "1f7ba0ea-d7ed-4a65-9b52-577ee6934c24",
    "mediaKey": "bf039ffc-8a8a-4331-88e5-06a0c7ab914c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainPicture>
    <officeEmail>
      <Value><![CDATA[+46 123 456789]]></Value>
    </officeEmail>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[contact@onatrix.com]]></Value>
    </officePhoneNumber>
    <onlineSupportBackgroundColor>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#6d7573"
}]]></Value>
    </onlineSupportBackgroundColor>
    <preFooterHeader>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </preFooterHeader>
    <siteIcon>
      <Value><![CDATA[[
  {
    "key": "673f90b3-81d0-4d86-9a38-f20f4c3e9487",
    "mediaKey": "3d3da5dd-a592-4537-9281-e5a786abb5ab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteIcon>
    <siteLogoType>
      <Value><![CDATA[[
  {
    "key": "7f26d8f8-038b-428e-8602-b3f4b3e15955",
    "mediaKey": "d34f93c9-04a4-4703-b2e6-841f72ce5b19",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogoType>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Providing Your Financial Solutions!]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b8fff89e-eda1-4586-bbaa-eb4f2546acd8",
      "udi": "umb://element/4f1e9c3f16844d5ebb801ec6834393c3",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "b8fff89e-eda1-4586-bbaa-eb4f2546acd8",
      "udi": "umb://element/fbfdc37399f44c05acd5d7f77735e83b",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "b8fff89e-eda1-4586-bbaa-eb4f2546acd8",
      "udi": "umb://element/d015ea059c774aa8ba277218821aefbc",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "b8fff89e-eda1-4586-bbaa-eb4f2546acd8",
      "udi": "umb://element/e7efa9dab6e54aac9db5921383d85ce0",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "https://youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f1e9c3f16844d5ebb801ec6834393c3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d015ea059c774aa8ba277218821aefbc",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fbfdc37399f44c05acd5d7f77735e83b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e7efa9dab6e54aac9db5921383d85ce0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
    <tag1>
      <Value><![CDATA[Report]]></Value>
    </tag1>
    <tag2>
      <Value><![CDATA[Business Plans]]></Value>
    </tag2>
    <tag3>
      <Value><![CDATA[Insights]]></Value>
    </tag3>
    <tag4>
      <Value><![CDATA[Business]]></Value>
    </tag4>
    <tag5>
      <Value><![CDATA[App]]></Value>
    </tag5>
    <tag6>
      <Value><![CDATA[Project]]></Value>
    </tag6>
    <tag7>
      <Value><![CDATA[Finance]]></Value>
    </tag7>
    <tag8>
      <Value><![CDATA[Pricing]]></Value>
    </tag8>
  </Properties>
</Content>