<?xml version="1.0" encoding="utf-8"?>
<Content Key="7401668d-15cc-48f3-8828-39bdfdae8b7c" Alias="Simpleaf" Level="2">
  <Info>
    <Parent Key="d53f995c-5f65-4b2c-af83-bea61a5d1c13">Partners</Parent>
    <Path>/Partners/Simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersTemplate</ContentType>
    <CreateDate>2024-10-03T22:23:29</CreateDate>
    <NodeName Default="Simpleaf" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37c45623-0913-45f5-b442-2a2482ec01cc">partnersTemplate</Template>
  </Info>
  <Properties>
    <partnersLogo>
      <Value><![CDATA[[
  {
    "key": "ee8587ce-5109-4d0e-9d97-5327df18565f",
    "mediaKey": "ef9bcddb-125e-4c1c-a3a0-bed3fa10c9c4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersLogo>
  </Properties>
</Content>