<?xml version="1.0" encoding="utf-8"?>
<Content Key="b03a9f69-41c5-4cd2-bc9b-3488233300b3" Alias="Tina Fox" Level="2">
  <Info>
    <Parent Key="a4f77e8e-19ef-4384-8806-55c89abd6337">Professionals</Parent>
    <Path>/Professionals/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>professionalsTemplate</ContentType>
    <CreateDate>2024-10-03T08:41:45</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="04c80073-1aa4-43b2-ad83-285562270a00">professionalsTemplate</Template>
  </Info>
  <Properties>
    <professionalsName>
      <Value><![CDATA[Tina Fox]]></Value>
    </professionalsName>
    <professionalsPic>
      <Value><![CDATA[[
  {
    "key": "119f3731-f1d0-43f9-8b14-c4488f2aabf0",
    "mediaKey": "a1cb33b0-0143-4492-b5cd-e68637bb85c3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </professionalsPic>
    <professionalsProfesion>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </professionalsProfesion>
  </Properties>
</Content>